[Unit]
Description=Automate a lait
After=network.target

[Service]
ExecStart=python3 -u /home/pi/git_automate_lait/auto_lait.py
WorkingDirectory=/home/pi/auto_lait_workingdir/
Restart=always
User=pi

[Install]
WantedBy=default.target
